{% extends 'AppBundle::amp.html.twig' %}

{% block json %}
	{% include "amp/amp_json_ld.html.twig" %}
{% endblock %}

{% block title %}{{- page.metatitle ? page.metatitle : parent() -}}{% endblock %}
{% block meta_keywords %}{{- page.metakeywords ? page.metakeywords : parent() -}}{% endblock %}
{% block meta_description %}{{- page.metadescription ? page.metadescription : parent() -}}{% endblock %}
{% block last_updated_block %}{{ page.updatedAtDatetime}}{% endblock %}

{% block content %}
<section class="about-us-container">
    <div class="content-row clearfix">
        <div class="right-col">
            {# {% include "default/amp_breadcrumbs.html.twig" with { 'elements': { 0: {'url': "plugins_practic_area_homepage", 'name': "Practice areas" }}, 'currentPage': active.name } %} #}
            <div class="about-us-text">
                <h2>
                    {{ active.name }}
                </h2>
                {{ active.ampContent | raw }}
								<div>
									<amp-social-share type="email"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="facebook"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"
											data-param-app_id="254325784911610"></amp-social-share>
									<amp-social-share type="gplus"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="linkedin"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="pinterest"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="tumblr"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="twitter"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
									<amp-social-share type="whatsapp"
											width="40"
											height="40"
											data-param-text="{{- page.metatitle ? page.metatitle : parent() -}}"
											data-param-url="https://sharovalaw.com/"
											data-param-attribution="AMPhtml"></amp-social-share>
								</div>

								{# include "amp/amp_social.html.twig" #}
								{% include "amp/amp_map.html.twig" %}
                <div class="bootom-line"></div>
            </div>
            {# include "PluginsPracticAreaBundle:PracticArea:additional_description.html.twig" #}
        </div>
    </div>
</section>
{% endblock %}
